*{
  margin: 0;
  padding: 0;
}
body{
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  font-family: PingFang, 苹方, -apple-system, "SF UI Text", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  font-size: 28px!important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
a{
  text-decoration:none;
}
ul{
  list-style:none;
}